USE [master]
GO
/****** Object:  Database [FaceAttendance_DB]    Script Date: 2025/04/18 9:59:54 ******/
CREATE DATABASE [FaceAttendance_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FaceAttendance_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\FaceAttendance_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FaceAttendance_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\FaceAttendance_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FaceAttendance_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FaceAttendance_DB]
GO
/****** Object:  Table [dbo].[attendance]    Script Date: 2025/04/18 9:59:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attendance](
	[user_id] [varchar](8) NOT NULL,
	[timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_attendance] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2025/04/18 9:59:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [varchar](8) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[face_encoding] [varbinary](max) NOT NULL,
	[profil] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[attendance] ([user_id], [timestamp]) VALUES (N'03147713', CAST(N'2025-04-17T21:44:54.000' AS DateTime))
INSERT [dbo].[attendance] ([user_id], [timestamp]) VALUES (N'08020001', CAST(N'2025-04-17T20:31:01.000' AS DateTime))
INSERT [dbo].[attendance] ([user_id], [timestamp]) VALUES (N'25331340', CAST(N'2025-04-17T21:16:00.000' AS DateTime))
GO
USE [master]
GO
